@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria:#000000;
    --cor-secundaria:#F6F6F6;
    --cor-terciaria:#F05048;
    --cor-rouver: #272727;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat',sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    transition: 1s;
}


.redirecionamento{
    padding: 2% 0% 0% 15%;
    z-index: +1;
}

.redirecionamento__botao{
    display: flex;
    gap: 80px;
}

.redirecionamento__botao__link{
    font-family: var(--fonte-secundaria);
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-terciaria);
    left: 50%;
    margin-top: 1.5rem;
    transition: 0.3s;
}

.redirecionamento__botao__link:hover{
    color: #c7baba;
    font-size: 1.8rem;
}

.titulodestaque {
    color: var(--cor-terciaria);
    
}

.apresentacao{
padding: 9% 15%;
display: flex;
align-items: center;
justify-content: space-between;
gap: 82px;
z-index: +1;
}

.apresentacao__conteudo{
    width: 50%;
    height: 540px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
    
}

.apresentacao__conteudo__paragrafo{
    font-size: 1.47rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__botao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
}

.apresentacao__botao__subtitulo{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__botao__links{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: var(--cor-primaria);
    width: 50%;
    text-align: center;
    border-radius: 10px;   
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: var(--fonte-secundaria);
    font-style:normal;
    font-weight: 600;
    border: 2px solid var(--cor-terciaria);
}


/* Aplicado para mudar o estilo do botão quando o cursor tiver acima dele */
.apresentacao__botao__links:hover{
    background-color: var(--cor-rouver);
}

.apresentacao__imagem{
    width: 50%;
}

.assinatura{
    background-color: var(--cor-terciaria);
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}

.assinatura__texto{
    display: flex;
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    font-style: normal;
}

.bgAnimacao{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
   background: #000000; 
    filter: saturate(2);
    overflow: hidden;
    z-index: -1;
}

.colorBox{
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 0.15rem;
    background: #000000;
}

.colorBox:hover{
    background: #F05048;
    transition-duration: 0s;
}

.backgroundAmim{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background: #F05048;
    filter: blur(5rem);
    animation: animBack 6s linear infinite;
}

@keyframes animBack {
    0%{
        top: -5rem;
    }
    100%{
        top: 120%;
    }
}


@media (max-width: 1200px){
    
    .redirecionamento{
        margin: 25% 0%;
        padding: 0% 10%;
    }
    
    .redirecionamento__botao{
        justify-content: center;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 70% 5%;
        padding-top: 0%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .apresentacao__conteudo__paragrafo{
        font-size: 1.15rem;
    }

    .apresentacao__conteudo__titulo{
        font-size: 1.75rem;
    }

    .apresentacao__imagem{
        width: 300px;
    }

    .apresentacao__conteudo__paragrafo{
        width: auto;
    }

}

